.averageScore {
  padding: 3px 8px;
  gap: 10px;
  border-radius: 4px;
  font-size: 24px;
  font-weight: 400;
  display: flex;
  color: var(--gray-color-lighter);
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 6px;
  width: fit-content;
  padding: 4px 10px;
}

.error {
  background-color: var(--feedback-color-error);
}

.warning {
  background-color: var(--feedback-color-warning);
}

.success {
  background-color: var(--feedback-color-success);
}

@media (max-width: 1200px) {
  .averageScore {
    padding: 2px 6px;
    gap: 8px;
    font-size: 18px !important;
    font-weight: 500;
  }
}
