.header {
  background-color: var(--primary-color-main);
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-weight: 400;
  font-size: 40px;
}

.textWhite {
  color: var(--white-color);
}

.textOrange {
  color: var(--feedback-color-warning);
}
