.main {
  min-height: 100vh;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  /* height: calc(100vh - 136px); */
}

.cardContainer {
  display: flex;
  margin: 18px 5.9rem;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
}
