.inputSearchBox {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.inputSearch {
  width: 915.77px;
  height: 38px;
  border-radius: 4px;
  border: 1px solid var(--gray-color-light);
  padding: 0 12px;
  font-size: 14px;
}

.buttonSearch {
  margin-left: 8px;
  height: 38px;
  font-weight: 600;
  border-radius: 4px;
  background-color: var(--primary-color-main);
  color: var(--white-color);
  padding: 4px 16px;
  cursor: pointer;
  border: none;
}

.buttonSearch:hover {
  background-color: var(--primary-color-light);
}

@media (prefers-color-scheme: dark) {
  .buttonSearch {
    color: #ffffff;
  }
}

@media (max-width: 960px) {
  .inputSearchBox {
    display: flex;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 17px;
    margin-bottom: 23px;
  }

  .buttonSearch {
    display: block;
    width: 100%;
    margin: 0px;
  }
}
