.tag {
  border-radius: 4px;
  font-size: 12px;
  font-weight: 400;
  display: flex;
  background-color: var(--primary-color-light);
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: fit-content;
  padding: 6px 10px;
  color: var(--gray-color-lighter);
  text-transform: capitalize;
}
